@use "../../scss/variables" as vars;
@use "../../scss/media-queries" as medias;
@use "../../scss/utils" as utils;

.ls-input {
  display: flex;
  transition: all 150ms ease-in-out;

  // font
  font-family: vars.$inputs-content-font-family;
  font-size: vars.$inputs-content-font-size;
  font-weight: vars.$inputs-content-font-weight;
  line-height: vars.$inputs-content-line-height;
  letter-spacing: vars.$inputs-content-letter-spacing;

  // spacing
  border: vars.$inputs-border-width solid vars.$inputs-border-color;
  border-radius: vars.$inputs-border-radius;
  padding: vars.$inputs-padding;

  // color
  color: vars.$inputs-value-color;
  background-color: vars.$inputs-background-color;
  outline: none;

  @include utils.if-there('box-shadow', vars.$inputs-shadow);

  &::placeholder {
    // font
    font-family: vars.$inputs-label-font-family;
    font-size: vars.$inputs-label-font-size;
    font-weight: vars.$inputs-label-font-weight;
    line-height: vars.$inputs-label-line-height;
    letter-spacing: vars.$inputs-label-letter-spacing;

    // color
    color: vars.$inputs-placeholder-color;
  }

  &:hover {
    box-shadow: vars.$inputs-hover-shadow;

    @include utils.if-there('border-color', vars.$inputs-hover-border-color);
    @include utils.if-there('color', vars.$inputs-hover-value-color);
    @include utils.if-there-pseudo('color', vars.$inputs-hover-placeholder-color, '&::placeholder');
  }

  &:active {
    box-shadow: vars.$inputs-active-shadow;

    @include utils.if-there('border-color', vars.$inputs-active-border-color);
    @include utils.if-there('color', vars.$inputs-active-value-color);
    @include utils.if-there-pseudo('color', vars.$inputs-active-placeholder-color, '&::placeholder');
  }

  &:focus {
    box-shadow: vars.$inputs-focus-shadow;

    @include utils.if-there('border-color', vars.$inputs-focus-border-color);
    @include utils.if-there('color', vars.$inputs-focus-value-color);
    @include utils.if-there-pseudo('color', vars.$inputs-focus-placeholder-color, '&::placeholder');
  }

  &:disabled {
    color: vars.$inputs-disabled-value-color;
    border-color: vars.$inputs-disabled-border-color;
    box-shadow: vars.$inputs-disabled-shadow;
    background-color: #f5f5f5; // Optional: Change background for disabled state
    cursor: not-allowed;

    &::placeholder {
      color: vars.$inputs-disabled-placeholder-color;
    }
  }

  &.ls-input-valid {
    color: vars.$inputs-valid-value-color;
    border-color: vars.$inputs-valid-border-color;
    box-shadow: vars.$inputs-valid-shadow;

    &::placeholder {
      color: vars.$inputs-valid-placeholder-color;
    }
  }

  &.ls-input-errored {
    border-color: vars.$inputs-errored-border-color;

    @include utils.if-there('color', vars.$inputs-errored-value-color);
    @include utils.if-there('box-shadow', vars.$inputs-errored-shadow);
    @include utils.if-there-pseudo('color', vars.$inputs-errored-placeholder-color, '&::placeholder');
  }
}
