@use "../../../scss/variables" as vars;
@use "../../../scss/media-queries" as medias;
@use "../../../scss/utils" as utils;

.ls-form-field-label-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: vars.$form-fields-label-margin-bottom;

  .ls-form-field-error-tooltip-container {
    .ls-form-field-error-tooltip-text {
      // position and size
      position: absolute;
      top: -4px;
      left: calc(100% + 5px);
      transform: translateX(calc(-100% - 28px));
      width: utils.to-rem(200);
      padding: utils.to-rem(12) utils.to-rem(16);
      border-radius: utils.to-rem(8);

      // misc
      display: inline;
      user-select: none;
      background-color: vars.$inputs-errored-tooltip-background-color;
      cursor: pointer;

      // font
      color: vars.$inputs-errored-tooltip-text-color;
      font-size: vars.$inputs-errored-tooltip-font-size-mobile;
      font-weight: vars.$inputs-errored-tooltip-font-weight;
      line-height: vars.$inputs-errored-tooltip-line-height-mobile;

      @include medias.tablet {
        font-size: vars.$inputs-errored-tooltip-font-size-tablet;
        line-height: vars.$inputs-errored-tooltip-line-height-tablet;
      }

      @include medias.desktop {
        font-size: vars.$inputs-errored-tooltip-font-size-desktop;
        line-height: vars.$inputs-errored-tooltip-line-height-desktop;
      }

      &::after {
        content: "";
        position: absolute;
        top: 6px;
        left: calc(100% - 8px);
        width: 10px;
        height: 10px;
        transform: rotate(45deg);
        background: vars.$inputs-errored-tooltip-background-color;
      }
    }
  }

  .ls-form-field-icon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 150ms ease-in-out;
    pointer-events: none;

    &.ls-form-field-icon-visible {
      pointer-events: initial;
      opacity: 1;
    }

    &.ls-form-field-icon-valid {
      color: vars.$inputs-valid-icon-color
    }

    &.ls-form-field-icon-errored {
      color: vars.$inputs-errored-icon-color
    }

    &.ls-form-field-icon-clickable {
      cursor: pointer;
    }
  }
}
