@use "../../scss/variables" as vars;
@use "../../scss/media-queries" as medias;
@use "../../scss/utils" as utils;

.ls-textarea {
  resize: vertical;
  padding: vars.$form-fields-padding;
  border-radius: vars.$form-fields-border-radius;
  border: vars.$form-fields-border;
  transition: border-color vars.$transition-duration-and-function;
  background-color: vars.$form-fields-background-color;
  outline: none;
  color: vars.$form-fields-content-color;

  &::placeholder {
    color: vars.$form-fields-placeholder-color;
  }

  &, &::placeholder {
    font-family: inherit;
    font-size: vars.$form-fields-content-font-size;
    font-weight: vars.$form-fields-content-font-weight;
    line-height: vars.$form-fields-content-line-height;
    letter-spacing: vars.$form-fields-content-letter-spacing;
  }

  &.ls-textarea-valid {
    border: vars.$form-fields-valid-border;
  }

  &.ls-textarea-errored {
    border: vars.$form-fields-invalid-border;
  }
}
