@use "../../scss/variables" as vars;
@use "../../scss/media-queries" as medias;

.heading:not(:last-child) {
  margin-bottom: vars.$spacing-mobile;

  @include medias.tablet {
    margin-bottom: vars.$spacing-tablet;
  }

  @include medias.desktop {
    margin-bottom: vars.$spacing-desktop;
  }
}

.text:not(:last-child) {
  display: block;
  margin-bottom: vars.$spacing-mobile;

  @include medias.tablet {
    margin-bottom: vars.$spacing-tablet;
  }

  @include medias.desktop {
    margin-bottom: vars.$spacing-desktop;
  }
}
