@use "../../scss/variables" as vars;
@use "../../scss/media-queries" as media;

.ls-h1,
.ls-h2,
.ls-h3,
.ls-h4,
.ls-h5,
.ls-h6 {
  font-family: vars.$font-family-headings;
}

.ls-p,
.ls-strong,
.ls-b,
.ls-i,
.ls-small,
.ls-smallest,
.ls-em,
.ls-a {
  font-family: vars.$font-family-texts;
}

.ls-h1, .ls-h2, .ls-h3, .ls-h4, .ls-h5, .ls-h6 {
  color: vars.$font-color-headings;
  font-weight: vars.$font-weight-headings;
  line-height: vars.$line-height-headings-mobile;
}

.ls-p .ls-small .ls-smallest, .ls-b, .ls-i, .ls-em {
  line-height: vars.$line-height-texts-mobile;
  color: vars.$font-color-text;
}

.ls-p {
  font-weight: vars.$font-weight-texts;
}

.ls-strong {
  font-weight: vars.$font-weight-strong;
}

.ls-b {
  font-weight: vars.$font-weight-b;
}

.ls-i {
  font-weight: vars.$font-weight-i;
}

.ls-em {
  font-weight: vars.$font-weight-em;
}


@include media.tablet {
  .ls-h1, .ls-h2, .ls-h3, .ls-h4, .ls-h5, .ls-h6 {
    line-height: vars.$line-height-headings-tablet;
  }

  .ls-p .ls-small .ls-smallest, .b, .i, .em, .a {
    line-height: vars.$line-height-texts-tablet;
  }
}

@include media.desktop {
  .ls-h1, .ls-h2, .ls-h3, .ls-h4, .ls-h5, .ls-h6 {
    line-height: vars.$line-height-headings-desktop;
  }

  .ls-p .ls-small .ls-smallest, .b, .i, .em, .a {
    line-height: vars.$line-height-texts-desktop;
  }
}

.ls-h1 {
  font-size: vars.$font-size-h1-mobile;
}

.ls-h2 {
  font-size: vars.$font-size-h2-mobile;
}

.ls-h3 {
  font-size: vars.$font-size-h3-mobile;
}

.ls-h4 {
  font-size: vars.$font-size-h4-mobile;
}

.ls-h5 {
  font-size: vars.$font-size-h5-mobile;
}

.ls-h6 {
  font-size: vars.$font-size-h6-mobile;
}

.ls-p {
  font-size: vars.$font-size-p-mobile;
}

.ls-small {
  font-size: vars.$font-size-small-mobile;
}

.ls-smallest {
  font-size: vars.$font-size-smallest-mobile;
}


@include media.tablet {
  .ls-h1 {
    font-size: vars.$font-size-h1-tablet;
  }

  .ls-h2 {
    font-size: vars.$font-size-h2-tablet;
  }

  .ls-h3 {
    font-size: vars.$font-size-h3-tablet;
  }

  .ls-h4 {
    font-size: vars.$font-size-h4-tablet;
  }

  .ls-h5 {
    font-size: vars.$font-size-h5-tablet;
  }

  .ls-h6 {
    font-size: vars.$font-size-h6-tablet;
  }

  .ls-p {
    font-size: vars.$font-size-p-tablet;
  }

  .ls-small {
    font-size: vars.$font-size-small-tablet;
  }

  .ls-smallest {
    font-size: vars.$font-size-smallest-tablet;
  }

}

@include media.desktop {
  .ls-h1 {
    font-size: vars.$font-size-h1-desktop;
  }

  .ls-h2 {
    font-size: vars.$font-size-h2-desktop;
  }

  .ls-h3 {
    font-size: vars.$font-size-h3-desktop;
  }

  .ls-h4 {
    font-size: vars.$font-size-h4-desktop;
  }

  .ls-h5 {
    font-size: vars.$font-size-h5-desktop;
  }

  .ls-h6 {
    font-size: vars.$font-size-h6-desktop;
  }

  .ls-p {
    font-size: vars.$font-size-p-desktop;
  }

  .ls-small {
    font-size: vars.$font-size-small-desktop;
  }

  .ls-smallest {
    font-size: vars.$font-size-smallest-desktop;
  }
}

.ls-a {
  font-family: vars.$links-font-family;
  font-weight: vars.$links-font-weight;
  text-transform: vars.$links-text-transform;
  text-decoration: vars.$links-text-decoration;
  letter-spacing: vars.$links-letter-spacing;


  line-height: vars.$links-line-height-mobile;
  font-size: vars.$links-font-size-mobile;

  @include media.tablet {
    font-size: vars.$links-font-size-tablet;
    line-height: vars.$links-line-height-tablet;
  }

  @include media.desktop {
    font-size: vars.$links-font-size-desktop;
    line-height: vars.$links-line-height-desktop;
  }

  color: vars.$links-color;

  &:hover {
    color: vars.$links-hover-color;
  }

  &:focus {
    color: vars.$links-focus-color;
  }

  &:active {
    color: vars.$links-active-color;
  }

  &:visited {
    color: vars.$links-visited-color;
  }
}
