@use "../../scss/variables" as vars;
@use "../../scss/media-queries" as medias;
@use "../../scss/utils" as utils;

.ls-image-preview-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: vars.$input-image-url-preview-margin-top;
  width: utils.to-rem(80);
  height: utils.to-rem(80);
  border-radius: vars.$form-fields-border-radius;
  border: vars.$form-fields-border;
  overflow: hidden;
  transition: border-color vars.$transition-duration-and-function;

  &.ls-image-preview-container-valid {
    border: vars.$form-fields-valid-border
  }

  &.ls-image-preview-container-errored {
    border: vars.$form-fields-invalid-border;
  }

  .ls-image-preview {
    width: 100%;
    height: auto;
  }
}
