@use "../src/scss/variables" as vars;
@use "../src/scss/media-queries" as medias;
@use "../src/scss/utils" as utils;

.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: start;
  gap: vars.$spacing-mobile;

  @include medias.tablet {
    gap: vars.$spacing-tablet;
  }

  @include medias.desktop {
    gap: vars.$spacing-desktop;
  }
}
