@use "../src/scss/layers-order";
@use "../src/scss/layer-reset";
@use "../src/scss/layer-utilities";
@use "../src/components/button/button";
@use "../src/components/typography/typography";
@use "../src/components/internals/form-fields-label-with-tooltip/form-fields-label-with-tooltip";
@use "../src/components/modal/modal";
@use "../src/hooks/use-datepicker/date-picker";
@use "../src/hooks/use-input-image-url/input-image-url";
@use "../src/hooks/use-select/select";
@use "../src/hooks/use-textarea/textarea";
@use "../src/icons/icons";

body {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
