@use "../../scss/variables" as vars;
@use "../../scss/media-queries" as medias;
@use "../../scss/utils" as utils;

.ls-select-trigger {
  display: flex;
  justify-content: space-between;
  align-items: center;

  // color
  color: vars.$selects-value-color;
  background-color: vars.$selects-background-color;
  outline: none;

  // misc
  cursor: pointer;
}

.ls-select-placeholder {
  color: vars.$selects-placeholder-color;
}

.ls-select-icon-chevron-down {
  width: 18px;
  height: auto;
  cursor: pointer;
}


// they are in a portal
.ls-select-menu {
  overflow: hidden;
  background-color: vars.$selects-menu-background-color;
  border-radius: vars.$selects-menu-border-radius;
  box-shadow: vars.$selects-menu-shadow;
  z-index: vars.$selects-menu-z-index;

  .ls-select-scroll-container {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    .ls-select-scroll-icon {
      width: 16px;
      height: auto;
    }
  }

  .ls-select-menu-viewport {
    padding: 5px;


    .ls-select-menu-item {
      // font
      font-family: vars.$selects-items-font-family;
      font-size: vars.$selects-items-font-size;
      font-weight: vars.$selects-items-font-weight;
      line-height: vars.$selects-items-line-height;
      letter-spacing: vars.$selects-items-letter-spacing;

      // sizing
      padding: vars.$selects-menu-items-padding;
      border-radius: vars.$selects-menu-items-border-radius;
      outline: none;

      // colors
      color: vars.$selects-items-color;

      @include utils.if-there('background', vars.$selects-items-background-color);

      // misc
      position: relative;
      user-select: none;
      cursor: pointer;

      &[data-highlighted] {
        background: vars.$selects-hover-background-color;
      }

      &[data-state="checked"] {
        background: vars.$selects-checked-items-background-color;
      }
    }
  }
}


