@use "./variables" as vars;
@use "./media-queries" as medias;
@use "./utils" as utils;

@layer ls-utilities {
  .ls-form-field-container {
    display: flex;
    flex-flow: column nowrap;
    min-width: vars.$form-fields-min-width-mbl;

    @include medias.tablet {
      min-width: vars.$form-fields-min-width-tbl;
    }

    @include medias.desktop {
      min-width: vars.$form-fields-min-width-dsk;
    }
  }

  .ls-form-field {
    // sizing
    padding: vars.$form-fields-padding;
    border-radius: vars.$form-fields-border-radius;
    border: vars.$form-fields-border;

    // font
    color: vars.$form-fields-content-color;

    // misc
    outline: none;
    transition: box-shadow vars.$transition-duration-and-function, border-color vars.$transition-duration-and-function;
    box-shadow: vars.$form-fields-shadow;
    background-color: vars.$form-fields-background-color;

    &::placeholder {
      color: vars.$form-fields-placeholder-color;
    }

    &, &::placeholder {
      font-family: inherit;
      font-size: vars.$form-fields-content-font-size;
      font-weight: vars.$form-fields-content-font-weight;
      line-height: vars.$form-fields-content-line-height;
      letter-spacing: vars.$form-fields-content-letter-spacing;
    }

    &:disabled, &[aria-disabled="true"] {
      color: vars.$form-fields-disabled-content-color;
      background-color: vars.$form-fields-disabled-background-color;
      border: vars.$form-fields-disabled-border;
      box-shadow: vars.$form-fields-disabled-shadow;
    }

    &:disabled::placeholder {
      color: vars.$form-fields-disabled-placeholder-color;
    }

    &:hover {
      border: vars.$form-fields-hover-border;
      box-shadow: vars.$form-fields-hover-shadow;
      background-color: vars.$form-fields-background-color-hover;
    }

    &:focus {
      border: vars.$form-fields-focus-border;
      box-shadow: vars.$form-fields-focus-shadow;
      background-color: vars.$form-fields-background-color-focus;
    }

    &.ls-form-field-valid {
      border: vars.$form-fields-valid-border;
      box-shadow: vars.$form-fields-valid-shadow;
      background-color: vars.$form-fields-background-color-valid;
    }

    &.ls-form-field-invalid, &[aria-invalid="true"] {
      border: vars.$form-fields-invalid-border;
      box-shadow: vars.$form-fields-invalid-shadow;
      background-color: vars.$form-fields-background-color-invalid;
    }
  }
}
